In [1]:
import pandas as pd
import numpy as np

In [8]:
rice = pd.read_csv("agriculture data.csv")
rice.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Tamil Nadu,ARIYALUR,2008,Kharif,Rice,24574,0.0
1,Tamil Nadu,ARIYALUR,2008,Whole Year,Arhar/Tur,209,0.0
2,Tamil Nadu,ARIYALUR,2008,Whole Year,Bajra,565,0.0
3,Tamil Nadu,ARIYALUR,2008,Whole Year,Banana,190,0.0
4,Tamil Nadu,ARIYALUR,2008,Whole Year,Cashewnut,31113,0.0

In [17]:
rice = rice.drop(["Production"], axis=1)

In [18]:
cols = list(rice.columns.values)

## Filling all the empty places with mean of the values for the same band values over all the months in that particular year.

In [19]:
l = rice.shape[0]
b = rice.shape[1]
for row in range(0,l):
    vals = np.zeros(18)
    bx = False
    for col in range(10,b-108,18):
        if pd.isnull(rice.iloc[row,col]):
            s = cols[col]
            #print s
            #print rice.iloc[row,col]
            
            """First calculate vals, if needed""" 
            if not bx: 
                n = 0
                for i in range(10,b-108,18):
                    if (cols[i] != s and (not pd.isnull(rice.iloc[row,i]))):
                        n += 1
                        for j in range(i,i+18):
                            vals[j-i] += rice.iloc[row,j] 
                vals = vals/n 
                bx = True
                
            """Update all those 18 blanks using vals"""
            for j in range(col,col+18):
                rice.iloc[row,j] = vals[j-col]

In [23]:
rice.to_csv("Rice0_Ready.csv")